footer {
  width: 100%;
  font-weight: 100;
  padding-top: 60px;
  text-align: center;

  .icon-link {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    width: 26px;
    height: 22px;
    padding: 0 2px;
    vertical-align: middle;
  }
}
