.timeline {
  margin-left: 2em;
  position: relative;
}
.timeline > li {
  list-style-type: none;
}

.timelineLine::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: red;
  top: 0;
  left: -2px;
  width: 5px;
  height: 5px;
}

.timelineLine {
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: -1em;
  border: 1px black solid;
}