.zigZagList, .zigZagList > li {
  list-style: none;
  position: relative;
}

@media screen {
  .listItem, .listItemAlt {
    position: relative;
    color: black;
    display: block;
    padding: 1rem;
    background: var(--chakra-colors-trinary-300);
    border-radius: 0 16px 16px 0;
  }
  .listItem {
    box-shadow: var(--chakra-colors-shadow-small-right);
  }
  .listItemAlt {
    box-shadow: var(--chakra-colors-shadow-small-left);
  }
  
  .listItem::before, .listItemAlt::before {
    content: "";
    position: absolute;
    top: 1rem;
    
    right: 100%;
    border-top: 0.7em solid transparent;
    border-bottom: 0.7em solid transparent;
    border-right: 0.7em solid var(--chakra-colors-trinary-300);
  }
  
  .listItemAlt {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 767px) {
  .listItem {
    margin-right: 20%;
  }

  .listItemAlt {
    margin-left: 20%;
    border-radius: 16px 0 0 16px;
  }
  
  .listItemAlt::before {
    left: 100%;
    border-top: 0.7em solid transparent;
    border-bottom: 0.7em solid transparent;
    border-right: 0;
    border-left: 0.7em solid var(--chakra-colors-trinary-300);
  }
}