welcome-section {
  display: block;
  background-image: url('../assets/selfie-portrait.png');
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: top right;
  text-align: center;
}
