.profile {
  padding: 24px 48px;
}

.avatar {
  padding: 1em;
  position: relative;
}

.overlay {
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  30% {
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
  }
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.role {
  font-style: italic;
  white-space: nowrap;
}

.contact {
  margin-top: 1rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
}

@media screen and (min-width: 767px) {
  .profile {
    margin: 0 12px 24px 0;
    border-radius: 0 0 16px 0;
    padding: 48px;
  }
}