.about-me {
  background: #000;
  color: #FFF;
}

section {
  padding: 24px;

  .thin-content {
    max-width: 980px;
    display: block;
    margin: auto;
    opacity: 0;
    transition: 1s opacity;

    &.faded {
      opacity: 1;
    }
  }
}
