<wired-card *ngFor="let item of details" role="tab" (mouseleave)="mouseleave(item)" (mouseenter)="mouseenter(item)" [elevation]="elevation(item)">
  <h3>{{item.title}}</h3>
  <div class="container-fluid">
    <div class="row">
      <ul class="col-sm-12 col-md-9">
        <li *ngFor="let bullet of item.content">{{bullet}}</li>
      </ul>
      <div *ngIf="item.image" class="col-sm-12 col-md-3 logo">
        <img [src]="'../assets/' + item.image"/>
      </div>
    </div>
  </div>
</wired-card>
